@page { size: A4; margin: 0; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  line-height: 130%;
  font-weight: 400;
  padding: 2em 3.5em;
  max-width: 700px;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 3em;
  line-height: 1.2em;
}

h2 {
  font-size: 1.4em;
  line-height: 1.1em;
  margin-top: 0.7em;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 0.4em;
}

.headline p {
  margin-bottom: 0.75em;
}

.contacts {
  font-size: 1.1em;
  line-height: 1.4em;
}

.contacts a {
  margin-right: 0.4em;
}

.company {
  font-weight: 700;
}

.period::before {
  content: " / ";
  margin: 0 0.1em;
}

.period, .period::before {
  font-weight: 300;
  letter-spacing: -0.5px;
}

.role {
  /* display: block; */
  font-size: 1.2em;
  line-height: 1.2em;
}
